body{
    color:rgb(0, 0, 0);
    background-color: rgb(150, 21, 21);
    margin:0px;
}

header{ 
    border-bottom:solid 2px rgb(0, 0, 0);
    padding:20px;
    font-size: 32px;
    color:rgb(0, 0, 0);
}
section{
    background: white;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;

}


